# Settings made here will only override settings in the global retroarch.cfg if placed above the #include line

input_remapping_directory = "/opt/retropie/configs/psx/"

input_player1_select = "y"
input_player1_start = "h"
input_player1_left = "left"
input_player1_right = "right"
input_player1_up = "up"
input_player1_down = "down"
input_player1_a = "space"
input_player1_b = "ctrl"
input_player1_x = "shift"
input_player1_y = "alt"
input_player1_l = "z"
input_player1_r = "x"
input_player1_l2 = "c"
input_player1_r2 = "v"
# input_player1_l3 =
# input_player1_r3 =

input_player2_select = "u"
input_player2_start = "j"
input_player2_left = "d"
input_player2_right = "g"
input_player2_up = "r"
input_player2_down = "f"
input_player2_a = "w"
input_player2_b = "a"
input_player2_x = "q"
input_player2_y = "s"
input_player2_l = "i"
input_player2_r = "k"
input_player2_l2 = "o"
input_player2_r2 = "l"
# input_player2_l3 =
# input_player2_r3 =

input_player3_joypad_index = 2
input_player3_select_btn = "0"
input_player3_start_btn = "3"
input_player3_left = "7"
input_player3_right = "5"
input_player3_up = "4"
input_player3_down = "6"
input_player3_a_btn = "13"
input_player3_b_btn = "14"
input_player3_x_btn = "12"
input_player3_y_btn = "15"
input_player3_l_btn = "10"
input_player3_r_btn = "11"
input_player3_l2 = "8"
input_player3_r2 = "9"
input_player3_l3 = "1"
input_player3_r3 = "2"

#hotkeys
input_enable_hotkey = "y"
input_exit_emulator = "h"
input_save_state = "x"
input_load_state = "z"
input_state_slot_increase = "right"
input_state_slot_decrease = "left"
input_menu_toggle = "nul"
input_reset = "nul"


#include "/opt/retropie/configs/all/retroarch.cfg"
